In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\adity\Downloads\questions.csv\questions.csv")

In [3]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
df.shape

(404351, 6)

In [5]:
df=df.sample(50000)

In [6]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       1
is_duplicate    0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df=df.dropna()

In [9]:
ques_df =df[['question1','question2']]
ques_df.head()

,question1,question2
117775,Why are so many Quora users posting questions ...,Why do people ask stupid questions on Quora th...
10441,How do you dress as a rock star for Halloween?,How do you dress as Lady Thor for Halloween?
339188,What is the least common favorite color?,What is the most common favorite color for the...
328374,How can I be a porn actor?,How I be a porn star?
29000,What are the benefits of using quora?,What is the benefit to Quora?

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

questions = list(ques_df['question1']) + list(ques_df['question2'])
cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [11]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(49998, 6000)

In [12]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
117775,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10441,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
339188,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
328374,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
392551,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301443,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
351787,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
temp_df['is_duplicate'] = df['is_duplicate']

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7555